*, *::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #4e4646;
  border-radius: 10px;
}

ul {
  margin-bottom: 0 !important;
}

#logo {
  width: auto;
  height: 2.5em;
}

nav {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em !important;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: rgba(240, 238, 238, 0.2235294118);
}
nav .nav-links {
  display: flex;
}
nav .nav-links .nav-link {
  list-style: none;
  padding: 1.3rem;
}
nav .nav-links .nav-link a {
  text-decoration: none;
  color: #4e4646;
  transition: 0.6s ease-in-out;
}
nav .nav-links .nav-link a:hover {
  color: #FFBE9D;
}
nav .nav-links .nav-link #hire {
  background-color: #D86415;
  padding: 0.5em 2em;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #D86415;
}
nav .nav-links .nav-link #hire:hover {
  border: 1px solid #FFBE9D;
  background-color: transparent;
  color: #FFBE9D;
}
nav .menu-btn {
  display: none;
}
nav .menu-icon {
  cursor: pointer;
  padding: 0.5rem;
  position: relative;
  z-index: 1;
  display: none;
}
nav .menu-icon span {
  height: 2px;
  width: 20px;
  border-radius: 5x;
  background-color: #D86415;
  display: block;
  position: relative;
}
nav .menu-icon span::before, nav .menu-icon span::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #D86415;
  position: absolute;
}
nav .menu-icon span::before {
  transform: translateY(6px);
}
nav .menu-icon span::after {
  transform: translateY(-6px);
}

.hero {
  grid-area: hero;
  color: #D86415;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero h2 {
  font-size: 3rem;
}

@media screen and (max-width: 800px) {
  nav {
    padding: 1em 1.5em !important;
  }
  nav .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 5 !important;
    opacity: 0;
    -webkit-clip-path: circle(200px at top right);
            clip-path: circle(200px at top right);
    transition: opacity 1s 0.5s, -webkit-clip-path 0.8s 0.5s;
    transition: clip-path 0.8s 0.5s, opacity 1s 0.5s;
    transition: clip-path 0.8s 0.5s, opacity 1s 0.5s, -webkit-clip-path 0.8s 0.5s;
  }
  nav .nav-links .nav-link {
    margin: 1em;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  nav .nav-links .nav-link:nth-of-type(1) {
    transition-delay: 0.1s;
  }
  nav .nav-links .nav-link:nth-of-type(2) {
    transition-delay: 0.2s;
  }
  nav .nav-links .nav-link:nth-of-type(3) {
    transition-delay: 0.3s;
  }
  nav .nav-links .nav-link a {
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
  }
  nav .menu-icon {
    display: block;
    z-index: 10 !important;
  }
  nav .menu-icon span {
    animation: closemid 0.8s backwards;
    animation-direction: reverse;
  }
  nav .menu-icon span::before {
    animation: closebtm 0.8s backwards;
    animation-direction: reverse;
  }
  nav .menu-icon span::after {
    animation: closetop 0.8s backwards;
    animation-direction: reverse;
  }
  nav .menu-btn:checked ~ .menu-icon {
    border-radius: 50%;
    animation: pulse 1s;
  }
  nav .menu-btn:checked ~ .menu-icon span {
    animation: openmid 0.8s forwards;
  }
  nav .menu-btn:checked ~ .menu-icon span::before {
    animation: openbtm 0.8s forwards;
  }
  nav .menu-btn:checked ~ .menu-icon span::after {
    animation: opentop 0.8s forwards;
  }
  nav .menu-btn:checked ~ .nav-links {
    opacity: 1;
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
  nav .menu-btn:checked ~ .nav-links .nav-link {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  nav .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(1) {
    transition-delay: 0.7s;
  }
  nav .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(2) {
    transition-delay: 0.8s;
  }
  nav .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(3) {
    transition-delay: 0.9s;
  }
}
@keyframes pulse {
  from {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}
@keyframes opentop {
  0% {
    transform: translateY(-6px) rotate(0deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes closetop {
  0% {
    transform: translateY(-6px) rotate(0deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes openmid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes closemid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes openbtm {
  0% {
    transform: translateY(6px) rotate(0deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes closebtm {
  0% {
    transform: translateY(6px) rotate(0deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}/*# sourceMappingURL=nav.css.map */